
<div class="well bs-component col-md-4 col-md-offset-4">
    <form class="form-horizontal">
        <fieldset>
            <legend>Legend</legend>
            <div class="form-group">
                <label for="discogsID" class="col-md-2 control-label">Discogs ID</label>

                <div class="col-md-10">
                    <input type="text" class="form-control" id="discogsID" placeholder="Discogs ID">
                </div>

                <label for="select111" class="col-md-2 control-label">Type</label>

                <div class="col-md-10">
                    <select id="select111" class="form-control">
                        <option>Song</option>
                        <option>Album</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-md-2 control-label">Password</label>

                <div class="col-md-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">


                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="playlist" value="true"> Add to Playlist

                      </label>
                        <label>
                            <input type="checkbox" name="wishlist" value="true"> Add to Wishlist

                        </label>
                    </div>
                    <br>


                </div>
            </div>
                    <button type="submit" class="btn btn-primary">Submit</button>

            </div>
        </fieldset>
    </form>
</div>